h1 {
  margin-top: 20px;
  padding-bottom: 0.5%;
  font-family: "Libre Baskerville", serif;
  font-size: 3.75rem;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

h2 {
  padding-left: 50px;
  padding-right: 50px;
  font-family: "Libre Baskerville", serif;
  font-weight: bolder;
  font-size: 3.125rem;
  padding-bottom: 0px;
}

h3 {
  padding-bottom: 20px;
}
.formdiv {
  display: flex;
  justify-content: center;
}
.socialdiv {
  display: flex;
  justify-content: center;
}
.contactForm {
  display: flex;
  justify-content: center;
}
.googleMaps {
  padding-left: 10px;
  padding-right: 10px;
}
.googlediv {
  justify-content: center;
  align-items: center;
}
.google {
  height: 300px;
}
.socialMedia {
  margin-top: 50px;
  padding-top: 20px;
  background: linear-gradient(
    0deg,
    rgb(150, 164, 244) 0%,
    rgb(193, 196, 210) 100%
  );
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8%;
}

.fa-brands {
  color: #3874ff;
}

.fa-solid {
  color: #3874ff;
}

.form {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Libre Baskerville", serif;
  font-size: large;
  font-weight: bold;
}

.emailAdresInput {
  margin-left: 4px;
}

.verzend {
  color: white;
  border-radius: 15%;
  background: gray;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.verzend:hover {
  background: #ffffff;
  color: black;
}
.socialmediatexthover:hover {
  color: rgb(27, 254, 251);
}
.socialMediaLinks {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.socialmediaLijn {
  padding-left: 20px;
  padding-top: 40px;
  font-family: "Libre Baskerville", serif;
  font-weight: bolder;
  font-size: 1.3rem;
}

.contactFormulier {
  margin-top: 40px;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 2%;
  padding-right: 2%;
  background-color: rgba(219, 204, 204, 0.35);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 8%;
}
.bericht {
  padding-bottom: 2%;
}

.googleMaps {
  margin-top: 40px;
  padding-bottom: 310px;
  padding-top: 50px;

  background-color: rgba(219, 204, 204, 0.35);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 8%;
}

.contactText {
  height: 150px;
}

/* icons color changed when hover over and basic color*/

.fa-square-facebook {
  padding-right: 15px;
}

.fa-square-facebook:hover {
  color: rgb(27, 254, 251);
}

.fa-instagram {
  color: rgb(227, 13, 109);
  padding-right: 15px;
}

.fa-instagram:hover {
  color: rgb(27, 254, 251);
}
.fa-tiktok {
  color: black;
  padding-right: 15px;
}
.fa-tiktok:hover {
  color: rgb(27, 254, 251);
}
.fa-whatsapp {
  color: rgb(47, 255, 89);
  padding-right: 15px;
}

.fa-phone-volume {
  color: aqua;
  padding-right: 15px;
}

.fa-envelope {
  color: rgb(42, 159, 165);
  padding-right: 15px;
}

@media (max-width: 1610px) {
  .contactFormulier {
    height: 530px;
  }
  .berichtInput {
    height: 150px;
  }
  .googleMaps {
    width: 400px;
  }

  .socialMedia {
    margin-top: 40px;
    width: 500px;
    height: 530px;
  }

  .rijen {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .socialmediaLijn {
    font-size: 1.25rem;
  }
  .googleMaps {
    height: 530px;
  }
}

@media (max-width: 1199px) {
  .rijen {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contactFormulier {
    width: auto;
  }

  .googlediv {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .socialMedia {
    width: auto;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 1.875rem;
  }
  .socialMedia {
    height: 500px;
  }
  .socialmediaLijn {
    font-size: 0.938rem;
  }

  .contactFormulier {
    height: fit-content;
    width: 300px;
  }
  .berichtInput {
    width: 180px;
  }
  .google {
    width: 250px;
  }
  .googleMaps {
    height: 500px;
    width: 300px;
  }

  .contactFormulier {
    width: 300px;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 250px) {
  .socialMedia {
    height: 520px;
  }

  .contactFormulier {
    height: fit-content;
    width: 220px;
  }
  .naamInput {
    width: 150px;
  }
  .emailAdresInput {
    width: 150px;
  }
  .berichtInput {
    width: 150px;
  }
  .google {
    width: 200px;
  }
  .googleMaps {
    height: 500px;
    width: 250px;
  }
}
