h3 {
  font-size: 1.525rem;
}

.achtergrondIndex {
  padding-bottom: 180px;
}

/* navbar */
nav .navbarlogo {
  height: 100px;
  width: 100px;
  padding-bottom: 10px;
}

nav {
  background-image: url(../images/navbar-background2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.navtext:hover {
  color: rgb(189, 221, 32);
}
.navtext {
  font-size: 1.3rem;
  font-weight: bolder;
}

.titelpagina {
  font-size: 1.6rem;
  padding-bottom: 20px;
}
.introbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.introtekst {
  margin-top: 40px;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-size: 1rem;
}
.logokolom{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Cards */
.card{
  background-color: rgba(255, 255, 255, 0.859);
}
.card-body {
  text-align: justify;
  font-size: 1rem;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.25rem;
}


.section1-card-body{
  margin-top: 40px;
  height: 500px;
}
.card-header {
  background: linear-gradient(
    0deg,
    rgba(84, 97, 169, 1) 11%,
    rgba(169, 179, 236, 1) 100%
  );
  padding-left: 20px;
  padding-right: 20px;
}

.card-body .card-body-text {
  padding-left: 10px;
  padding-right: 10px;
  top: 4%;
  margin-bottom: 100px;
}

.Iconen {
  height: 100px;
}
.icoon-container {
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
}

.icoon-container img {
  margin-left: 0.625rem;
}

.IntroImgLogos{
  margin: 0 auto;
  height: 310px;
  width: 250px;
}

.Horizon {
  margin-top: 10px;
  height: 200px;
}
/* icooncontainer classes van elk topic voor de tekst naar boven te pushen in de cards*/
.pricing-column {
  margin-top: 50px;
  margin-bottom: 50px;
}

.cardlayout {
  border-radius: 1%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.section1 {
  border-top-width: 50px;
  border-top-style: solid;
  border-top-color: rgb(129, 145, 235);
  border-bottom-width: 50px;
  border-bottom-style: solid;
  border-bottom-color: rgb(129, 145, 235);
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.section2 {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  background-image: url(../images/arkVanPollareAchtergrond.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
}

.section3 {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom{
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}
.aanmeldtext {
  padding-top: 10px;
  padding-left: 50px;
}

.aanmeldenbox {
  box-sizing: border-box;
  height: 120px;
  font-family: "Libre Baskerville", serif;
  font-weight: 900;
  color: white;
  margin-top: 100px;
  background-color: rgb(84, 97, 169);
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.aanmeldenknop {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 80px;
  width: 250px;
  display: inline-block;
  background: linear-gradient(
    0deg,
    rgba(84, 97, 169, 1) 0%,
    rgba(172, 180, 226, 1) 100%
  );
  color: #fff;
  padding: 10px 20px;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.aanmeldenbox .aanmeldenknop:hover {
  height: 85px;
  width: 255px;
  font-size: 1.313rem;
  color: #fff;
  background: linear-gradient(
    0deg,
    rgba(186, 251, 135, 1) 11%,
    rgba(169, 179, 236, 1) 100%
  );
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

@media (min-width: 768px) and (max-width: 1635px) {
  h2 {
    font-size: 1.25rem;
  }
  h3 {
    font-size: 1.125rem;
  }
  .card-body-text {
    font-size: 0.938rem;
  }
  .aanmeldtext {
    width: 350px;
  }
  .aanmeldenbox {
    height: 150px;
  }

  .knopbox {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  h2 {
    padding-top: 5px;
    font-size: 1.031rem;
    font-weight: 700;
  }
  h3 {
    font-size: 1.3rem;
    font-weight: 900;
  }

  p {
    font-size: 0.8rem;
  }
  .navbarlogo {
    height: 200px;
    width: 200px;
  }
  .navbar {
    --bs-navbar-padding-y: 7rem;
  }
  .Iconen {
    height: 60px;
  }
}

@media (max-width: 768px) {
  .navbar {
    --bs-navbar-padding-y: 5rem;
  }
  h3 {
    font-size: 1.3rem;
    font-weight: 700;
  }
  .navbarknop {
    margin-right: 20px;
  }
  h2{
    font-size: 1.2rem;
  }
  
  p {
    font-size: 0.7rem;
  }
  .knopbox {
    margin-top: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .aanmeldtext {
    padding-left: 0;
  }
  .aanmeldenbox {
    height: 330px;
  }

  .card-body-text {
    font-size: 0.875rem;
  }
  .aanmeldenbox {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .Hopecarelogo {
    height: 300px;
  }
  .Iconen {
    height: 60px;
  }
  


@media (max-width: 710px) {
  .introbox {
    flex-direction: column;
  }
  .IntroImgLogos {
    margin: 0 auto;
  }
  .logokolom {
    margin: 0 auto;
  }
}



}
@media (max-width: 450px) {
  h3 {
    font-size: 1rem;
  }

  h2{
    font-size: 1.2rem;
  }
  .navbarknop {
    margin-right: 20px;
  }
  p {
    font-size: 0.8rem;
  }
}

@media (max-width: 370px) {
  .Iconen {
    height: 30px;
  }
  .Hopecarelogo {
    width: 250px;
  }

  .Horizon {
    height: 150px;
    width: 200px;
  }
  p{
    text-align: center;
  }
}

@media (max-width: 250px) {
  .Iconen {
    height: 30px;
  }
  .psychosociale-card{
    height: 700px;
  }
}
